* {
    margin: 20px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #FFFFFF;
    padding: 10px;
}

.produtos-moda td, .produtos-casa td {
    background-color: #424250;
    color: #FFFFFF;
}

.produtos-moda th {
    background-color: #BB86FC;
    color: #FFFFFF;
}

.produtos-casa th {
    background-color: #00C4B4;
    color: #FFFFFF;
}